h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;

}
h2,h3,h4,h5{
    text-align: center;
    font-size: 30px;
    display: none;


}


img{
    width: 100%;
    display: block;
    margin: auto;
}

/* Mobile View */

@media  (max-width:800px){
    body{
      background-color: rgb(182, 182, 245);
    }
    h3{
        display: block;
        font-size: 50px;

    }
    p{
        color: white;
    }
}

@media (max-width:500px){
    body{
        background-color: rgb(109, 253, 181);
    }
    h2{
        display: block;
    }
    p{
        color: tomato;
    }
}
/* Tab View */

/* Laptop View */

/* @media (min-width:801px) and (max-width:1200px){
    body{
        background-color:  rgb(154, 255, 154);
        text-align: center;
    }
    h4{
        display: block;

    }
    p{
        color: black;
    }

} */ */
